*, *::before, *::after{box-sizing:border-box;}

ul{
    list-style:none;
}
a{
    text-decoration:none;
}
h2 h3{
    font-weight: bold;
}
@mixin display_flex_j_between {
    display: flex;
    justify-content: space-between;
}
@mixin font_20_lh_30{
    font-size: $font_size_20;
    line-height: 30px;
}
@mixin font_16_lh_24{
    font-size: $font_size_16;
    line-height: 24px;
}
@mixin font_24_lh_36{
    font-size: $font_size_24;
    line-height: 36px;
}
@mixin font_24_lh_30{
    font-size: $font_size_24;
    line-height: 30px;
}
@mixin font_32_lh_48{
    font-size: $font_size_32;
    line-height: 48px;
}
@mixin font_40_lh_60{
    font-size: $font_size_40;
    line-height: 60px;
}
@mixin p-1{
    padding: 8px;
}
@mixin p-2{
    padding: 16px;
}
@mixin p_t-3{
padding-top: 24px;
}
@mixin p_b-1{
    padding-bottom: 8px;
}
@mixin p_t-10{
    padding-top: 80px;
}
@mixin p_b-8{
    padding-bottom: 64px;
}
@mixin p_t-4{
    padding-top: 32px;
}
@mixin p_b-1{
    padding-bottom: 8px;
}
@mixin p_tb-8{
    padding: 64px 0;
}
@mixin p_tb-1{
    padding: 8px 0;
}
@mixin p_tb-2{
    padding: 16px 0;
}
@mixin p_tb-4{
    padding: 32px 0;
}
@mixin p_tb-5{
    padding: 40px 0;
}
@mixin m_tb-1{
    margin: 8px 0;
}
@mixin m_b-1{
    margin-bottom: 8px;
}
@mixin m_r-4{
    margin-right: 32px;
}
@mixin m_r-3{
    margin-right: 24px;
}
@mixin m_t-2{
    margin-top: 16px;
}
@mixin m_r-2{
    margin-right: 16px;
}
@mixin m_r-1{
    margin-right: 8px;
}
@mixin m_b-7{
    margin-bottom: 56px;
}
@mixin m_l-1{
    margin-left: 8px;
}
@mixin m_l-2{
    margin-left: 16px;
}
@mixin chinese{
    font-family: $fontFamliy_chinese;
}
@mixin container{
    width: 1110px;
    margin: 0 auto;
    }