$mainColor:#916019;
$secondaryColor:#8D8D8D;
$thireColor:#E0E0E0;
$btnBrodercolor:#707070;
$fontFamliy:SF Pro Text;
$fontFamliy_chinese:思源黑體;
$font_size_32:32px;
$font_size_40:40px;
$header_font_size:20px


